@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #3166a8;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  width: 400px;
  height: auto;
  margin: 0 auto;

  margin-top: 5%;
  color: #FFF;
  /*border:1px solid red;*/

  box-shadow: 10px 10px 0 rgba(0, 0, 0, .2);
}

.title {
  background-color: #242b48;
  height: 60px;
  h1 {
    /*font-size: 1.2rem;*/
    font-weight: 600;
    padding: 10px 15px;

    /* background-color: #141E30;*/
    color: #DCE3E4;
    text-transform: uppercase;
  }
}

.add {
  float: right;
  padding: 2.5% 2.5%;
  margin-top: 2.7%;
  margin-right: 5%;
  background-color: #3166a8;
  border-radius: 5px;

  &:hover {
    background-color: #3983dd;
    cursor: pointer;
  }
}

.new-task {
  display: none;
  .addTask {
    float: right;
    height: 60px;
    width: 15%;
    text-align: center;
    background: #cf6c71;
    color: #282f4c;
    line-height: 60px;
    transition: all .3s linear;
    border-bottom: 8px solid #3166a8;
    padding-right: 15px;
    font-size: 1.5rem;
    &:hover {
      font-size: 2rem;
    }
  }

  input {
    width: 85%;
    height: 60px;
    background-color: #cf6c71;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #282f4c;
    padding-left: 5%;

    font-weight: 600;
    border-bottom: 8px solid #3166a8;

    &::placeholder {
      text-transform: uppercase;
      font-size: 1.5rem;
      color: #282f4c;
      font-weight: 600;
    }
  }

}

.tasks {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .task {
    color: #282f4c;
    font-weight: 600;
    background-color: #fff;
    width: 100%;
    height: 80px;
    font-size: 1.5rem;
    padding-left: 4%;
    line-height: 80px;
    border-bottom: 5px solid #3166a8;


    &:nth-child(2n) {
      background: #e4efef;


    }

    &:hover {
      .remove, .complete {
        display: inline-block;
        color: #282f4c;

      }
    }

    &:hover a {
      width: 40px;
      opacity: 1;

    }

  }
}

.remove, .complete {

  float: right;
  height: 80px;
  width: 0;
  text-align: center;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  transition: all .2s ease;
  display: none;

}

li {
  list-style: none;
}

.remove:hover {

  animation: shake 0.3s;

}

.complete:hover {

  animation: shake 0.3s;
}

/*.done {
  !*text-decoration: line-through;
  color:#fff;
  font-weight:700;*!*/
.done {
  position: relative;
  display: inline-block;
}

.done::before {
  content: '';
  border-bottom: 5px solid #764735;
  width: 65%;
  position: absolute;
  right: 50%;
  top: 50%;
  left: 2%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
}




